/* css for the PositionButton Component */

.buttonContainer{
  margin-bottom: 5rem;
  text-align: center;
}

.button{
  padding: 5px;
  margin: 5px;
  margin-top: 5rem;
  height: 4rem;
  width: 6rem;
  border-radius: 10%;
  font-size: 1.5rem;
}

.button:hover{
  background-color: palevioletred;
}
.button:active{
  background-color: rgb(57, 57, 212);
  color: white;
}


/* css for screen size less than 576px */
@media screen and (max-width:576px) {
  .button{
    height: 3rem;
    width: 4rem;
    font-size: 1rem;
  }

}