/* this is the css for tooltip app  */
.tooltip-app{
  height: 100vh;
  width: 100vw;
  background : linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(230,247,240,1) 0%);
  text-align: center;
}

/* this is the css for the tooltip hover data  */
.tooltip-hover{
  font-size: 2rem;
  text-align: center;
}
.tooltip-hover:hover{
  color: red;
  text-decoration: underline;
}


/* css for screen size less than 576px */
@media screen and (max-width:576px){
  .tooltip-hover{
    font-size: 1rem;
    text-align: center;
  }
}
